*.iml

#built applications
*.apk
*.ap_

#Files for the VM
*.dex

#credentials
/lib/src/debug/res/xml/credentials.xml
/lib/detekt-report.html
/sampleapp/src/main/res/xml/credentials.xml
/sampleapp/detekt-report.html

/bin
/gen
/out

.gradle
!gradle-wrapper.jar
/build
/lib/build
/sampleapp/build

/local.properties

/.idea
/.settings
.DS_Store
/captures
.externalNativeBuild
