<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.kirkbushman.sampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
            android:allowBackup="false"
            android:name=".TestApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".activities.ApisActivity"/>
        <activity android:name=".activities.ApiDetailActivity"/>
        <activity android:name=".activities.SelfAccountActivity"/>
        <activity android:name=".activities.SelfAccountInfoActivity"/>
        <activity android:name=".activities.InboxActivity"/>
        <activity android:name=".activities.RedditorActivity"/>
        <activity android:name=".activities.RedditorInfoActivity"/>
        <activity android:name=".activities.SubredditActivity"/>
        <activity android:name=".activities.SubmissionActivity"/>
        <activity android:name=".activities.SubmissionsActivity"/>
        <activity android:name=".activities.SubmissionsSearchActivity"/>
        <activity android:name=".activities.SubredditsSearchActivity"/>
        <activity android:name=".activities.SubmitActivity"/>
        <activity android:name=".activities.CommonSubmissionsActivity"/>
        <activity android:name=".activities.CommentActivity"/>
        <activity android:name=".activities.CommentsActivity"/>
        <activity android:name=".activities.MultiSearchActivity"/>
        <activity android:name=".activities.WikiPageActivity"/>
        <activity android:name=".activities.WikiPagesActivity" />
        <activity android:name=".activities.RulesActivity"/>
        <activity android:name=".activities.SubscribedSubredditsActivity"/>
        <activity android:name=".activities.SelfTrophiesActivity"/>
        <activity android:name=".activities.UserSearchActivity"/>
        <activity android:name=".activities.UserTrophiesActivity"/>
        <activity android:name=".activities.UploadImagesActivity"/>
        <activity android:name=".activities.SettingsActivity" />
    </application>

</manifest>