<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.kirkbushman.sampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
            android:allowBackup="false"
            android:name=".TestApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.ApisActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.ApiDetailActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SelfAccountActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SelfAccountInfoActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.InboxActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.RedditorActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.RedditorInfoActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.RedditorModeratedSubs"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubredditActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmissionActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmissionsActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmissionsSearchActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmissionsFlairFilterActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.MultiSubmissionsActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubredditsSearchActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmitActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubmitMediaActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.CommonSubmissionsActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.CommentActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.CommentsActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.MultiSearchActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.WikiPageActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.WikiPagesActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.RulesActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SubscribedSubredditsActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SelfTrophiesActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.UserSearchActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.UserTrophiesActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.UploadImagesActivity"
            android:exported="false"
            />

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            />

    </application>

</manifest>